/* Nav */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url('https://source.unsplash.com/1920x1080/?nature,water');
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;

}
.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.jumbotron .display-4 span {
    font-weight: 500;
}
/* Info Panel */
.info-panel {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    padding: 30px;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Working Space */
.workingspace {
    margin-top: 100px;
    text-align: center;
}
.workingspace h3 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 30px;
}
.workingspace h3 span {
    font-weight: 500;
}
.workingspace p {
    font-size: 16px;
    color: #ACACAC;
    font-weight: 200;
    margin: 25px 0;
}
/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
}
.testimonial h5{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}
.testimonial figure img {
    width: 70px;
    margin: 40px 20px;
    opacity: 0.5;
}
.testimonial figure img.utama {
    width: 100px;
    margin: 20px;
    opacity: 1;
}
.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}
.testimonial figure p {
    font-size: 12px ;
    color: #ACACAC;
}

.testimonial figcaption {
    text-align: center;
}

footer {
    margin-top: 100px;
    color: #ACACAC;
    text-align: center;
}




/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px;
        height: 800px;
    }
    .jumbotron .display-4 {
        font-size: 64px;
        margin-top: 200px;
    }
    .workingspace {
        text-align: left;
    }
    .testimonial h5 {
        font-size: 32px;
    }
    .testimonial figure h5 {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
    }

}